**/*.md
**/*.svg
**/*.ejs
**/*.html
**/*.yml
package.json
node_modules/
.editorconfig
.eslintignore
.eslintrc.js
.gitignore
.lintstagedrc
.npmrc
commitlint.config.js
gulpfile.js
package.json
tsconfig.json
typings.d.ts